<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div class="row">
            <div class="col-lg-6">
                <div style="margin-top:60px"class="Box-element">
                    <form id="form">
                        <div id="user-info">
                            <div class="Form-field">
                                 <input required class="form-control" type="text" name="name" placeholder="Name...">
                            </div>
                            <div class="Form-field">
                                 <input required class="form-control" type="text" name="email" placeholder="Email...">
                            </div>
                        </div>
                        <div id="shipping-info">
                            <hr>
                            <p><strong>Shipping info:</strong></p>
                            <div class="Form-field">
                                 <input required class="form-control" type="text" name="address" placeholder="Address...">
                            </div>
                            <div class="Form-field">
                                 <input required class="form-control" type="text" name="city" placeholder="City...">
                            </div>
                              <div class="Form-field">
                                 <input required class="form-control" type="text" name="state" placeholder="State...">
                            </div>
                            <div class="Form-field">
                                 <input required class="form-control" type="text" name="zipcode" placeholder="Zipcode...">
                            </div>
                        </div>
                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div style="margin-top:60px" class="Box-element">
                    <a class="btn btn-success" href="{% url 'kart' %}">&#x2190; Back to kart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                        <div class="kart-row">
                            <div style="flex:2"><img class="row-images" src="{% static 'images/img.jpg' %}"></div>
                            <div style="flex:2"><p>Product 1</p></div>
                            <div style="flex:1"><p>$20.00</p></div>
                            <div style="flex:1"><p>x2</p></div>
                        </div>
                    <h5>Items:   2</h5>
                    <h5>Total:   $40</h5>
                </div>

            </div>
        </div>

    {% endblock content %}
</body>
</html>