<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>store</title>
</head>
<body>
     {% block content %}
        <div class="row mt-4">
            <div class="col-lg-4">
                <img class="img-thumbnail border-0" src="{%static 'images/img.jpg'%}">
                <div class="Box-element">
                    <h3><STRONG>Product</STRONG></h3>
                    <hr>
                    <button class="btn btn-outline-success">Add to kart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="float:right">$10</h4>
                </div>
            </div>
        </div>


     {% endblock content %}
</body>
</html>